<div class="col-md-6 offset-md-3 mt-5">
   
    <div class="card">
        <h4 class="card-header">Shopify Login</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                    
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                    
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"
                    autocomplete="false" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors "class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        
                    </div>
                    
                </div>
                <button  class="btn btn-primary">
                
                    Login
                </button>
                <a routerLink="/auth/register" class="btn btn-link">Register</a>
            </form>
            
        </div>
    </div>
</div>